html {
  background-color: $background;
  font-family: 'MavenPro Regular';
}

h2 {
  color: $subtext;
}

a {
  @include single-transition(color);
  color: $link;

  &:hover:not(.social-link) {
    color: $link-selected;
  }
}

strong {
  font-family: 'MavenPro Bold';
  font-weight: normal;
}
