html {
  background-color: $background;
  font-family: 'MavenPro Regular';
}

h2 {
  color: $subtext;
}

a,
a:visited {
  @include single-transition(color);
  color: $link;

  &:hover:not(.social-link),
  &:active:not(.social-link) {
    color: $link-selected;
  }
}

strong {
  font-family: 'MavenPro Bold';
  font-weight: normal;
}

%flatlists {
  list-style: none;
  margin: 0;
  padding: 0;
}

%overlaylinks {
  color: $overlay-link;
  text-decoration: none;

  &:hover:not(.social-link),
  &:active:not(.social-link) {
    color: scale-color($link-selected, $lightness: 20%);
  }
}

%overlaymenus {
  li {
    padding-right: .67em;
  }

  a {
    text-decoration: underline;
  }
}
