.content {
  margin: auto;
  width: 88vw;

  header,
  .post-title {
    margin: 0;
  }

  h1 {
    font-size: 3rem;
  }

  address {
    display: inline-block;
  }

  p,
  ol,
  ul,
  dl {
    font-size: 1.333333rem;
  }

  img {
    @include box-shadow($shadow 2px 2px 10px);
    float: right;
    margin-bottom: 1em;
    margin-left: 1em;
  }

  aside:not(.article-image) {
    border-bottom: 3px solid $border;
    border-top: 3px solid $border;
    float: right;
    margin-left: .25em;
    width: 25vw;
  }

  .article-image {
    float: left;
    margin-right: 1em;
  }

  blockquote {
    color: $blockquote-text;
    padding-left: .5em;
  }

  .footnote ol,
  .footnote p {
    font-size: 1.1em;
  }

  .footnote-ref {
    border: 1px solid $border;
    border-radius: 100%;
    font-size: .9em;
    margin-left: .25em;
    padding: .25em;
    text-decoration: none;
  }

  .footnote-backref {
    color: $subtext;
  }
}

.post-title a {
  text-decoration: none;
}

.post-info {
  color: $subtext;
  font-size: 1.25em;

  a {
    color: $subtext;

    &:hover {
      color: $link-selected;
    }
  }
}

.readtime {
  color: scale-color($subtext, $lightness: 33%);
  font-size: 1.1rem;
  padding-right: 0;

  &:before {
    content: '(\f017';
    font-family: 'FontAwesome';
    font-size: 1em;
  }

  &:after {
    content: ')';
    font-family: 'FontAwesome';
    font-size: 1em;
    margin-left: -.3em;
  }
}

.post-content {
  min-height: 50vh;
}

.tags {
  margin-top: 3em;

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    @include single-transition(background-color);
    background-color: $tag-background;
    border: 1px solid $border;
    border-radius: .25em;
    display: inline-block;
    font-size: 1.25rem;
    margin: 0 .25em;
    padding: 0 .25em;

    &:hover {
      background-color: $tag-background-selected;
    }
  }

  a {
    color: $tag-text;
    text-decoration: none;

    &:hover {
      color: $tag-text;
    }
  }
}

.category-list,
.categories-list {
  @extend %flatlists;

  li {
    margin-bottom: 3em;
  }
}
