@mixin setbasewithdarkenedhover($basebgcolor, $basecolor) {
  background-color: $basebgcolor;
  color: $basecolor;

  &:hover {
    background-color: darken($basebgcolor, 2%);
    color: darken($basecolor, 100%);
  }
}

%noticeboxes {
  border-radius: .5rem;
  color: $text;
  display: block;
  margin: 1rem auto;
  min-height: 2rem;
  padding: .5rem;
  padding-bottom: .0;
  width: 95%;

  &:before {
    color: $subtext;
    font-family: 'FontAwesome';
    font-size: 2.75rem;
    margin-top: -.25rem;
    position: absolute;
  }

  p {
    font-size: .9rem;
    margin-bottom: 0 !important;
    padding: 0 0 .25rem 2rem;

    &:before {
      font-style: italic;
    }
  }
}

.info {
  @extend %noticeboxes;
  @include setbasewithdarkenedhover($info, $overlay);

  &:before {
    content: '\f05a';
  }

  p:before {
    content: 'Note: ';
  }
}

.warning {
  @extend %noticeboxes;
  @include setbasewithdarkenedhover($warning, $overlay);

  &:before {
    content: '\f06a';
  }

  p:before {
    content: 'Warning: '
  }
}

.error {
  @extend %noticeboxes;
  @include setbasewithdarkenedhover($alert, $overlay);

  &:before {
    content: '\f071';
  }

  p:before {
    content: 'Error: '
  }
}
