@mixin tagcloud($base-size: 1em) {
  font-size: $base-size;
  line-height: 1.2 * $base-size;

  [class^="tagclouditem"],
  [class*=" tagclouditem"] {
    line-height: 1.2 * $base-size;
  }

  .tagclouditem-6 {
    font-size: $base-size / 2;
  }

  .tagclouditem-5 {
    font-size: 2 * $base-size / 3;
  }

  .tagclouditem-4 {
    font-size: 3 * $base-size / 4;
  }

  .tagclouditem-3 {
    font-size: 4 * $base-size / 3;
  }

  .tagclouditem-2 {
    font-size: 3 * $base-size / 2;
  }

  .tagclouditem-1 {
    font-size: 1.75 * $base-size;
  }
}

.tagcloud {
  @include tagcloud(1.1em);
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin-right: .5em;
  }
}

.tags-title {
  margin-bottom: 0;
}

.tagcloud-title {
  clear: both;
  display: inline-block;
  font-size: 2em;

  &:after {
    content: ':';
  }
}

.tag-list {
  @extend %flatlists;
  @include html5bp-clearfix;

  li {
    margin-bottom: 3em;

    h2,
    p {
      margin: 0;
    }
  }
}
