.tagcloud {
  @include tag-cloud;
  display: inline-block;
  list-style: none;
  padding: 0;

  li {
    display: inline-block;

    .tagclouditem-1 {
      @extend .xxl;
    }

    .tagclouditem-2 {
      @extend .xl;
    }

    .tagclouditem-3 {
      @extend .l;
    }

    &.tagclouditem-4 {
      @extend .s;
    }

    &.tagclouditem-5 {
      @extend .xs;
    }

    &.tagclouditem-6 {
      @extend .xxs;
    }
  }
}

.tagcloud-title {
  clear: both;
  display: inline-block;
  font-size: 2em;

  &:after {
    content: ':';
  }
}

.tag-list {
  @extend %flatlists;
  @include html5bp-clearfix;

  li {
    margin-bottom: 3em;

    h2,
    p {
      margin: 0;
    }
  }
}
