.top {
  color: invert($text);

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    font-size: 1.5em;
  }

  nav {
    li {
      padding-right: .67em;
    }

    a {
      text-decoration: underline;
    }
  }

  a,
  a:visited {
    color: invert($link);
    text-decoration: none;

    &:hover:not(.social-link),
    &:active:not(.social-link) {
      color: scale-color($link-selected, $lightness: 20%);
    }
  }

  #{headings(all)},
  ul,
  li,
  nav,
  aside {
    display: inline-block;
    margin: 0 .1em 0 0;
  }

  header {
    @include background(linear-gradient($overlay, scale-color($overlay, $lightness: 5%)));
    padding-left: .67em;

    h1:after {
      color: scale-color(invert($subtext), $lightness: 85%);
      content: ':';
    }

    h2 {
      color: scale-color(invert($subtext), $lightness: 85%);
    }
  }

  header,
  .links {
    background-color: $overlay;
    padding-bottom: .67em;
  }

  .wrapper {
    text-align: right;
  }

  .links {
    @include background(linear-gradient(scale-color($overlay, $lightness: 5%), scale-color($overlay, $lightness: 10%)));
    border-bottom-left-radius: .9em;
    margin: auto;
    padding: .67em 1em;
  }
}

.searchform {
  float: right;
  margin-right: .67em;
  margin-top: .67em;

  .fa-search {
    @include single-transition(all, .5s);
    background: transparent;
    border: 0;
    color: $text;
    cursor: pointer;
    font-size: 2rem;
    width: 1em;

    @include input-placeholder {
      color: invert($link);
      opacity: 1;
    }
  }
}

.fa-search:focus,
.fa-search:hover {
  @include single-transition(width);
  background: #fff;
  border: 2px inset $overlay-shadow;
  border-radius: .25em;
  color: $text;
  cursor: auto;
  font-size: 1.25rem;
  padding: .25em;
  width: 15em;

  @include input-placeholder {
    color: $text;
    opacity: 1;
  }
}
