{% if ARTICLES_SHOW_RECENT %}
<aside class="recent-articles">
    {% if ARTICLES_RECENT_TITLE %}
        <h1>{{ ARTICLES_RECENT_TITLE }}</h1>
    {% endif %}
    <ol>
        {% if all_articles %}
            {% for article in all_articles %}
                {% include 'includes/articleitem.html' %}
            {% endfor %}
        {% else %}
            {% if ARTICLES_RECENT_COUNT == 0 %}
                {% for article in articles %}
                    {% include 'includes/articleitem.html' %}
                {% endfor %}
            {% else %}
                {% for article in articles %}
                    {% include 'includes/articleitem.html' %}
                {% endfor %}
            {% endif %}
        {% endif %}
    </ol>
</aside>
{% include 'includes/pagination.html' %}
{% endif %}
