{% if article is not defined %}
    {% set article = articles[0] %}
{% endif %}

<article>
    <header>
        <h1 class="post-title">
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
        </h1>
        {% import 'translations.html' as translations with context %}
        {{ translations.translations_for(article) }}
    </header>
    <footer class="post-info">
        {% if ARTICLE_SHOW_DATE and article.date %}
            <span class="published">
                {{ article.locale_date }}
            </span>
        {% endif %}
        {% if ARTICLE_SHOW_CATEGORY and article.category %}
            <span class="category">
                in <a href="{{ article.category.url }}">{{ article.category }}</a>
            </span>
        {% endif %}

        {% if article.authors and ARTICLE_SHOW_AUTHORS %}
            <address>
                By {% for author in article.authors %}
                    {% if CUSTOM_AUTHOR_URL %}
                        <a href="{{ SITEURL }}/{{ CUSTOM_AUTHOR_URL }}">
                    {% else %}
                        <a href="{{ SITEURL }}/{{ author.url }}">
                    {% endif %}
                    {{ author }}</a>
                {% endfor %}
            </address>
        {% endif %}

        {% if ARTICLE_SHOW_STATS %}
            <span class="readtime" title="{{ article.stats['wc'] }} words">
                a {{ article.stats['read_mins'] }} minute read
            </span>
        {% endif %}

        {% if ARTICLE_SHOW_SHARE %}
            <div class="sharelinks"><span>Share this:</span>
                {% include 'includes/twitter.html' %}
            </div>
        {% endif %}
    </footer>
    <div class="post-content">
        {{ article.content }}
    </div>
    {% if ARTICLE_SHOW_TAGS and article.tags %}
        <footer class="tags">
            <ul>
                {% for tag in article.tags %}
                    <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                {% endfor %}
            </ul>
        </footer>
    {% endif %}
    {% if article.modified and ARTICLE_SHOW_EDITINFO %}
        <footer class="edit-info">
            <p class="edit-date">Modified {{ article.locale_modified }}
            {% if article.editreason %}
                <p class="edit-reason">{{ article.editreason }}
            {% endif %}
        </footer>
    {% endif %}
</article>
