{% if ISSO_ENABLED and article.status != "draft" %}
    <script data-isso="{{ SITEURL }}/isso/" data-isso-css="{% if ISSO_DEFAULT_STYLE %}true{% else %}false{% endif %}" data-isso-avatar="{% if ISSO_AVATARS %}true{% else %}false{% endif %}" src="{{ SITEURL }}/theme/isso/embed.min.js"></script>
    <section id="isso-thread"></section>
{% endif %}
{% if DISQUS_SITENAME and article.status != "draft" %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = '{{ DISQUS_SITENAME }}';
        var disqus_identifier = '{{ article.slug }}';
        var disqus_title = '{{ article.title|striptags }}';
        var disqus_url = '{{ SITEURL }}/{{ article.url }}';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
{% if PELICAN_COMMENT_SYSTEM and article.status != "draft" %}
    <section id="comments">
        <!--<script>
            function reply(id) {
                id = decodeURIComponent(id);
                $('#commentForm_replyto').val(id);
            }

            $(document).ready(function() {
                function generateMailToLink() {
                    var user = 'ron'; //user@domain = your email address
                    var domain = 'tohuw.net';
                    var subject = 'New Comment for \"{{ article.title|striptags }}\" on {{ SITENAME }}';

                    Date.prototype.today = function () {
                        return (((this.getMonth()+1) < 10)?"0":"") + (this.getMonth()+1) + "/" + ((this.getDate() < 10)?"0":"") + this.getDate() + "/" + this.getFullYear();
                    }
                    Date.prototype.timeNow = function () {
                        return ((this.getHours() < 10)?"0":"") + this.getHours() +":"+ ((this.getMinutes() < 10)?"0":"") + this.getMinutes() +":"+ ((this.getSeconds() < 10)?"0":"") + this.getSeconds();
                    }
                    var datetime = new Date().today() + " " + new Date().timeNow();

                    var body = ''
                        + 'Hello,\nI posted a new comment on ' + document.URL + '\n\n-' + $("#commentForm_inputName").val() + '\n\n'
                        + 'Comment data:\n'
                        + '----------------------------------------\n'
                        + ':title: ' + $("#commentForm_inputName").val() + ' comments on ' + '{{ article.title|striptags }}' + ' at ' + datetime + '\n'
                        + ':date: ' + datetime + '\n'
                        + ':author: ' + $("#commentForm_inputName").val() + '\n'
                        + ':identifier: ' + $("#commentForm_inputIdentifier").val() + '\n'
                        + ':website: ' + $("#commentForm_inputWebsite").val() + '\n';

                    var replyto = $('#commentForm_replyto').val();
                    if (replyto.length != 0) {
                        body += 'replyto: ' + replyto + '\n'
                    }

                    body += '\n'
                        + $("#commentForm_inputText").val() + '\n'
                        + '----------------------------------------\n';

                    var link = 'mailto:' + user + '@' + domain + '?subject='
                        + encodeURIComponent(subject)
                        + "&body="
                        + encodeURIComponent(body);
                    return link;
                }

                $('#commentForm').on("submit",
                    function( event ) {
                        event.preventDefault();
                        $(location).attr('href', generateMailToLink());
                    }
                );
            });
        </script> -->
        <form role="form" id="commentForm" action="/cgi-bin/formprocessor.py" method="POST">
            <input name="Name" type="text" id="commentForm_inputName" placeholder="Enter your name or synonym">
            <label for="commentForm_inputIdentifier">Identifier: </label><input name="Identifier" type="password" id="commentForm_inputIdentifier">
            <input name="Website" type="text" id="commentForm_inputWebsite" placeholder="Your website (e.g., http://tohuw.net)">
            <textarea name="Comment" id="commentForm_inputText" rows="10" style="resize:vertical;" placeholder="Your comment"></textarea>
            <button type="submit" id="commentForm_button">Post via email</button>
            <input name="replyto" type="hidden" id="commentForm_replyto">
        </form>
        <a href="{{ FEED_DOMAIN }}/{{ PELICAN_COMMENT_SYSTEM_FEED|format(article.slug) }}">Subscribe to Comments Feed</a>
        {% if article.comments %}
            {% for comment in article.comments recursive %}
                {% if loop.depth0 == 0 %}
                    {% set marginLeft = 0 %}
                {% else %}
                    {% set marginLeft = 50 %}
                {% endif %}
                <article id="comment-{{comment.slug}}" style="border: 1px solid #DDDDDD; padding: 5px 0px 0px 5px; margin: 0px -1px 5px {{marginLeft}}px;">
                    <a href="{{ SITEURL }}/{{ article.url }}#comment-{{ comment.slug }}" rel="bookmark" title="Permalink to this comment">Permalink</a>
                    <address>
                        <img src="{{ SITEURL }}/{{ comment.avatar }}" alt="Avatar" height="{{ PELICAN_COMMENT_SYSTEM_IDENTICON_SIZE }}" width="{{ PELICAN_COMMENT_SYSTEM_IDENTICON_SIZE }}">
                        <a href="{% if comment.website %}{{ comment.website }}{% else %}{{ SITEURL }}/{{ article.url }}#comment-{{ comment.slug }}{% endif %}">{{ comment.author }}</a>
                    </address>
                    <p>Posted on <span class="published" title="{{ comment.date.isoformat() }}">{{ comment.locale_date }}</span></p>
                    {{ comment.metadata['my_custom_metadata'] }}
                    {{ comment.content }}
                    {% if comment.replies %}
                        {{ loop(comment.replies) }}
                    {% endif %}
                </article>
            {% endfor %}
            {% else %}
            <p>There are no comments yet.<p>
        {% endif %}
    </section>
{% endif %}
