{% if DISQUS_SITENAME %}
    <script>
        var disqus_shortname = '{{ DISQUS_SITENAME }}';
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
    <a href="{{ SITEURL }}/{{ article.url }}#disqus_thread" data-disqus-identifier="{{ article.slug }}" class="comments-count"></a>
{% endif %}
{% if ISSO_ENABLED %}
    <script src="/theme/isso/count.min.js" data-isso="{{ SITEURL }}/isso/"></script>
    <a href="{{SITEURL}}/{{ article.url }}#isso-thread" class="comments-count">Comments</a>
{% endif %}
{% if PELICAN_COMMENT_SYSTEM %}
    <a href="{{ SITEURL }}/{{ article.url}}#comments" class="comments-count">Leave a comment. {% if article.comments_count > 0 %}({{ article.comments_count }}){% endif %}</a>
{% endif %}
