{% if TIPUE_SEARCH_ENABLED %}
    <form action="{{ SITEURL }}/search.html" class="searchform re">
    <form action="{{ SITEURL }}/search.html" class="searchform">
        {% if output_file == "search.html" %}
            <input type="search" name="q" id="tipue_search_input" class="fa-search resultspage" autocomplete="on" placeholder="&#xf002; {{ SEARCHBOX_PLACEHOLDER }}">
        {% else %}
            <input type="search" name="q" id="tipue_search_input" class="fa-search notresultspage" autocomplete="on" placeholder="&#xf002; {{ SEARCHBOX_PLACEHOLDER }}">
        {% endif %}
    </form>
{% endif %}
