{% extends "base.html" %}

{% block title %}
    {{ article.title|striptags }} on
    {{ super () }}
{% endblock %}

{% block metadata %}
    {{ super() }}
    {% for keyword in article.keywords %}
        <meta name="keywords" contents="{{keyword}}">
    {% endfor %}
    {% for description in article.description %}
        <meta name="description" contents="{{description}}">
    {% endfor %}
    {% for tag in article.tags %}
        <meta name="tags" contents="{{tag}}">
    {% endfor %}
{% endblock %}

{% block content %}
    {% include 'includes/articlebody.html' %}
    {% include 'includes/comments.html' %}
{% endblock %}
