<!doctype html>
<html class="no-js" lang="{{ DEFAULT_LANG }}">
    <head>
    {% block head %}
        {% block metadata %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% if article and article.author %}
            <meta name="author" content="{{ article.author }}" />
            <meta name="copyright" content="{{ article.author }}" />
        {% elif page and page.author %}
            <meta name="author" content="{{ page.author }}" />
            <meta name="copyright" content="{{ page.author }}" />
        {% else %}
            <meta name="author" content="{{ AUTHOR }}" />
            <meta name="copyright" content="{{ AUTHOR }}" />
        {% endif %}
        <title>{% block title %}{{ SITENAME|striptags }}{% endblock title %}</title>
        {% if SITE_DESCRIPTION %}
            <meta name="description" content="{% block head_description %}{{ SITE_DESCRIPTION }}{% endblock head_description %}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock metadata %}

        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        {% block feeds %}
        {% if FEED_ALL_ATOM %}
            <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed">
        {% endif %}
        {% if FEED_ALL_RSS %}
            <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed">
        {% endif %}
        {% if FEED_ATOM %}
            <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed">
        {% endif %}
        {% if FEED_RSS %}
            <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed">
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
            <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed">
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
            <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed">
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
            <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed">
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
            <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed">
        {% endif %}
        {% endblock feeds %}

        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" media="screen, print">
        <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    {% endblock head %}
    </head>
    <body>
        {% block browserupgrade %}
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {% endblock browserupgrade %}

        <div class="top">
        {% block header %}
            <header class="site-header">
                <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
                <h2>{{ SITESUBTITLE }}</h2>
                {% include 'includes/searchbox.html' with context %}
            </header>
            <div class="wrapper">
                <span class="links">
                    {% include 'includes/menu.html' %}
                    {% include 'includes/social.html' %}
                </span>
            </div>
        {% endblock header %}
        </div>

        <div class="content">
        {% block content %}
        {% endblock content %}
        </div>

        <footer class="bottom">
            {% include 'includes/articleslist.html' %}
            {% include 'includes/links.html' %}
            {% if CREDITS_SHOW %}
                <address class="credits">
                    <a href="{{ SITEURL }}">{{ SITENAME }}</a>: powered by <a href="http://getpelican.com/">Pelican</a>. {% if LICENSE_SHOW %}License: <a href="{{ LICENSE_URL }}">{{ LICENSE_TITLE }}</a>{% endif %} Theme: <a href="https://github.com/tohuw/qalal">Qalal</a>
                </address>
            {% endif %}
        </footer>

        <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}js/plugins.js"></script>
        <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}js/main.js"></script>

        {% include 'includes/googleanalytics.html' %}
        {% include 'includes/piwik.html' %}
        {% include 'includes/gosquared.html' %}
    </body>
</html>
