{% extends "base.html" %}
{% block piwik %}
{% if PIWIK_URL %}
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u=(("https:" == document.location.protocol) ? "https" : "http") + "://{% if PIWIK_SSL_URL %}{{ PIWIK_SSL_URL }}{% else %}{{ PIWIK_URL }}{% endif %}";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', {{ PIWIK_SITE_ID }}]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
      g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
<noscript>
  <p><img src="{% if PIWIK_SSL_URL %}https://{{ PIWIK_SSL_URL }}{% else %}http://{{ PIWIK_URL }}{% endif %}/piwik.php?idsite={{ PIWIK_SITE_ID }}" style="border:0;" alt=""></p>
</noscript>
{% endif %}
{% endblock %}