{% extends "base.html" %}

{% if TIPUE_SEARCH_ENABLED %}
    {% block title %}
        Search
        {{ super() }}
    {% endblock title %}

    {% block content %}
    <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}js/tipuesearch_set.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}js/tipuesearch.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#tipue_search_input').tipuesearch({
                'show': 10,
                'mode': 'json',
                'contentLocation': '{{ SITEURL }}/tipuesearch_content.json',
            });
        });
    </script>

    <div id="tipue_search_content"></div>

    {% endblock content %}
{% endif %}
